<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Input Tags</title>
	<!-- CSS Files -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/css/material-kit.css" rel="stylesheet">
    
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        
    
    <!-- Angular JS script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    
    <!-- Angular app.js File -->
    <script src="../../app.js" type="text/javascript"></script>
    <script src="interestDataFactory.js" type="text/javascript"></script>
    <script src="../home/profile/interestController.js" type="text/javascript"></script>

    
</head>
<body class="profile-form" ng-app="gbcApp" ng-controller="autoTag"" >
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="http://www.goBeyondCampus.com">goBeyondCampus</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.goBeyondCampus.com" target="_blank" class="btn btn-primary btn-fab btn-fab-mini btn-round">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-fab btn-fab-mini btn-round">
                            <i class="material-icons">account_circle</i>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
	</nav>
	
	<div class="wrapper">
		<div class="header header-filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">Profile</h1>
                    </div>
                </div>
            </div>
        </div>
		<div class="main main-raised">
			<div class="container">
				<div class="col-md-8 col-xs-offset-2">
					<h5 style="color: purple;"> Profile info is to help us help u better! </h5>
					<div class="col-md-5" ng-repeat="interest in selectedInterests ">
						<div class="alert alert-info">
						    <div class="container-fluid">
								  <div class="alert-icon">
									<i class="material-icons">heart</i>
								  </div>
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true"><i class="material-icons">clear</i></span>
								  </button>
								  <b>{{interest.discipline.name}}</b> 
						    </div>
						</div>
					</div>
					<div class="col-md-8 col-sm-5 dropdown">
						<!-- <div class="form-group label-floating dropdown-toggle" data-toggle="dropdown">
							<label class="control-label">Primary Field of interest</label>
							<input id="pInt" type="text" class="form-control" name="pint" ng-model="selectedInterests.discipline.name"  ng-keyup="completeInt(selectedInterests.discipline.name)"/>	
						</div>
						<ul class="dropdown-menu">
							<li ng-repeat="interest in filterInt"  ng-click="fillInt(interest)"><a>{{interest.discipline.name}}</a></li>
						</ul> -->
						<div class="form-group label-floating dropdown-toggle" data-toggle="dropdown">
							<label class="control-label">Specific interests</label>
							<input id="sInt" type="text" class="form-control" name="pint" ng-model="search.$"/>	
						</div>
						<ul class="dropdown-menu">
							<li ng-repeat="interest in interestOptions | filter:search" ng-click="fillsubInt(interest)"><a>{{interest.discipline.subDisc.name}}</a></li>
						</ul>			 	
					</div>			 					
				</div>
			</div>
		</div>
	</div>
	
	<!--   Core JS Files   -->
    <script src="../../../assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../../assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../assets/js/material.min.js"></script>
	
	
    

</body>
</html>